.header2 {
  height: 100vh;
  width: 100%;
  padding: 150px 0;
  background-image: url("/public/images/sea.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: #000;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  position: relative;
}

.header2 h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  background: linear-gradient(#b0ccba, #eb99b3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header2_subtitle {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header2_text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 2;
  padding: 10px;
  border-radius: 5px;
}

.header2_subtitle h3 {
  line-height: 1.5;
  font-size: 1.5rem;
}

.header2_subtitle em {
  color: #e6e04b;
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

.header2_nav {
  position: absolute;
  top: 0;
  right: 3rem;
  padding: 2rem;
  text-align: left;
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
  z-index: 2;
}

.header2_nav a {
  text-decoration: none;
  color: #e6e04b;
}
.header2_nav a:hover {
  opacity: 0.5;
  transform: scaleX(1.2);
  transition: all 2s;
}

span.bubble {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: -1;
  animation: top linear infinite;
}

@keyframes top {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(-1300%);
  }
}
