.star-rating {
  display: inline-block;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  z-index: -100
}

.stars-outer {
  display: inline-block;
  position: relative;
  width: 125px;
  overflow: hidden;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before,
.stars-inner::before {
  content: "★★★★★";
  font-family: "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
}

.stars-outer::before {
  color: #ccc; /* Unfilled star color */
}

.stars-inner::before {
  color: #f8ce0b; /* Filled star color */
}
.rating-text{
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
  cursor: pointer;
  font-size: 1.2rem;

}
.rating-text:hover{
 color: rgb(196, 80, 0);
}

